# General macOS files
.DS_Store
.localized
__MACOSX/
.AppleDouble
.LSOverride

# Icon files (e.g. customized folder icons)
Icon?

# Resource forks
._*

# Files that may appear on external disks / network shares
.Spotlight-V100
.Trashes
.fseventsd
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.apdisk

.venv/
__pycache__/
*.class
